.deleteBtnContainer {
  text-align: center;
  margin-top: 0.5px;
}

.richTextEditor {
  margin-top: 25px;
  // border: solid 0.4px #0078D7;
  border: solid 0.4px #272727;
}

.callout {
  width: 320;
  max-width: 90%;
  padding: 20px 24px;
}

.bar {
  position: relative;
  background-color: lightgray;
  height: 1px;
  width: 100%;
  top: calc(5% - 1px);
  margin: 15px;
}



