@import "~office-ui-fabric-react/dist/sass/References.scss";

.header {
  font-size: 14px;
  font-weight: 600;
  margin-right: 25px;
}

.controls {
  position: relative;
  user-select: none;
  cursor: pointer;
}

.thearrow {
  transition: transform 0.26s ease;
  transform-origin: center;
  margin-right: 10px;
  float: left;
}

.CollapsibleWrapper {
  margin: 0px;
}

.Collapsible {
  transform-origin: right;
  transition: max-height 0.26s ease-in-out;
  overflow: hidden;
  margin: 1px;
  width: 100%;
  height: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.hDivider {
  margin: auto;
  margin-top: 0px;
  width: 100%;
  position: relative;
}

.hDivider .shadow {
  overflow: hidden;
  height: 10px;
}

.hDivider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 19px;
  
  box-shadow: 0 0 8px black;
}


